.block_body {
/*	min-width: 700px; 
    max-width: 1000px; */
}
.header {
	height: 700px;
    width: 100%;
    background-image: url(./img/надпис.png), url(./img/фон.png);
    background-repeat: no-repeat;
    background-position: 50% 30%;
    background-size: 50%,100%;
}
h1 {
	text-transform: uppercase;
	font-family: 'Inter', sans-serif;
	line-height: 48.41px
}

.container{
	width: 1276px;
    margin: 0 auto;

}
.cards {
	display: inline-block;
	background-color: #231B0C;
	/*margin: auto 15px;*/
}

.cards_words{
    text-align: center;
    padding-top: 30px;
}
.cards_img {
    text-align: center;
    width: 300px;
    height: 210px;
    padding: 60px 50px 60px;
}
.cards.second{
 	margin: 0 30px;
}
.fon{
	margin: 40px auto;
    width: 1276px;
}

.footer{
	background-color: #150F02;
	line-height: 3em;
}
.footer_block{
	width: 45%;
    margin: 0 auto;
    padding-top: 30px;

    }
.footer_block > div{
	display: inline-block;
}
.footer_block_text{
	width: 318px;
	margin: auto;
	text-align: center;
	padding-bottom: 60px;
}
.footer_block_first{
	padding-right: 50%;
}
.footer_block_text p{
	border-bottom: 10px solid #FF6B00;
	font-family: 'Roboto', sans-serif;
	color: #FFFFFF;
	font-size: 20px;
    letter-spacing: 0.15em;
     
}
.footer_block_text svg{
	padding: 0 5% 0;
}