body{
	max-width: 800px;
	font-family: 'Work Sans', sans-serif;
	font-size: 14px;
	line-height: 16px;
}

.wrapper{
	display: grid;
	background: #FFB084;
	border-radius: 20px;
	grid-template-columns: 40% 28% 28%;
	grid-template-rows: 25% 25% 25% 15%;
	gap: 3% 2%;
	padding: 2rem 3rem;
}
.One{
	grid-row-start: 1;
    grid-row-end: 4;
	background: #FFFFFF;
	box-shadow: 7px 7px 0px #000000;
	border-radius: 20px;	
}
.One_List {
    margin: 0% 10%;
}
.One_List p{
	margin: 5% 1%;
}
.img{
	text-align: center;
}
.Two{
	grid-column-start:2;
	grid-column-end:4;
	background: #FFFFFF;
	box-shadow: 7px 7px 0px #000000;
	border-radius: 20px;
	padding: 1% 3%;

}
.Two p{
	    margin: 1% 1%;
}
.One_Age{
	display: flex;
	justify-content: space-between;
}
.One_Age p{
	    margin-bottom: 0;
}
.One_list_div {
	margin-bottom: 10%;
}
.One h1{
	text-align: center;
}
img {
	text-align: center;

}

span{
	font-weight: 700;
}
.Three{
	background: #FFFFFF;
	box-shadow: 7px 7px 0px #29A71E;
	border-radius: 20px;
	padding: 5%;
	grid-column-start: 2;
    grid-column-end: 2;
    
}
.Three span{
	color: #29A71E;
}
.Four {
	background: #FFFFFF;
	box-shadow: 7px 7px 0px #E13535;
	border-radius: 20px;
	padding: 5%;
	grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 3;
    grid-column-end: 4;
    padding: 10%;
}
.Four span{
	color: #E13535;
}
.Five{
	background: #FFFFFF;
	box-shadow: 7px 7px 0px #3675B0;
	border-radius: 20px;
	grid-row-start: 3;
    grid-row-end: 5;
    padding: 10%;
}
.Five span{
	color: #3675B0;
}
lh {
	    margin: 10% 10%;
}
.Six{
	background: #FFFFFF;
	box-shadow: 7px 7px 0px #000000;
	border-radius: 20px;
	grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
}
.Six span{
	color: #000000;
}
.Six p{
	margin: 2% 15%;
}
.seven{
	background: #FFFFFF;
	box-shadow: 7px 7px 0px #000000;
	border-radius: 20px;
	font-weight: 700;
	grid-column-start: 1;
    grid-column-end: 1;
    text-align: center;
}
.seven p{
	padding: 2% 4%;
}
ul {
	margin-top: 5px;
}