body{
	font-family: 'PT Sans', sans-serif;
	background-color: #FBE4FF;
	margin: 0;
}
a{
	text-decoration: none;
	color: #FFFFFF;
}
nav{
	    top: 0;
    z-index: 1;
    position: sticky;
}



.navigation{
	display: flex;
	background: #243B93;
	color: #FFFFFF;
	justify-content: space-evenly;
	padding: 1% 0;
	position: relative;
	font-weight: 700;

}

.navigation p:last-child {
    position: absolute;
    left: 97%;
}

.navigation svg{
	/*position: absolute;
	top: 5%;
    left: 93%;
*/
	color: white;
width: 90%;
padding: 1% 0%;
}
.h1{
	background: #BFF0FF;
	height: 85px;
	margin-bottom: 30px;
}
.h1 h1, h2{
	margin: 0px;
	padding: 1% 0 0 15%;
	font-size: 44px;
	line-height: 56.94px;
	font-style: italic;
	font-weight: 400;

}

.section{
	width: 70%;
	margin: 0 auto;
	background: #FBE4FF;

}

.block_cards{
	display: flex;	
	padding: 30px 50px;
	position: relative;
	background: linear-gradient(100deg, #a9cbd6, #01AFE6);
	margin: 40px 0;
	transition: ;
}
.block_cards:hover{
	background: #2CBDEB;
	box-shadow: 0px 0px 60px 4px #2CBDEB;
}
.block_cards:hover path{
	fill: yellow;
}

.block_cards:hover .buttom{
	background-color: #EF075B;
	
}

h3 {
	border-bottom: 3px solid #FFFFFF;
	font-style: italic;
	font-weight: 700;
	font-size: 36px;
	margin: 0 auto;

}


.block_cards img{
	margin-right: 30px;
	height: 11em;
    background: #EDFBFF;
}
.block_cards_text{
	height: 7em;	
    background: #EDFBFF;
}
.block_cards_text p{
	font-weight: 400;
	line-height: 28.47px
	font-size: 22px;
	padding: 1% 1%;
}
svg{
	position: absolute;
	top: 2%;
    left: 95%;
}

.buttom {
	position: absolute;
	background: #243B93;
	border-radius: 30px;
	top: 70%;
    left: 85%;
    font-size: 24px;
    width: 20%;
    height: 15%;
    text-align: center;
}

.out_buttom:hover, .contacts_buttom p:hover {
	background-color: #EF075B;
}
.out_buttom{
	background: #243B93;
	text-align: center;
    font-size: 24px;
    width: 20%;
    height: 15%;
    text-align: center;
    border-radius: 30px;
    padding: 1% 1%;
    margin: 0 auto 20px;
}

.out_buttom p{
	margin: 5px;
    }

h2{
	background: linear-gradient(130deg, #ffe601, #55D6FF);
	height: 85px;
}

.contacts{
	display: flex;
    justify-content: space-around;
    margin: 40px 0;
    background: linear-gradient(180deg, #859EFF 0%, rgba(105, 255, 210, 0.5) 100%);
    height: 500px;
    text-align: center;
}
.contacts>div{
	margin: auto 0;
}
.contacts_buttom p {
	background: #243B93;
    border-radius: 30px;
    padding: 5% 0;
    }
.contacts_text p {
	text-align: left;
	font-weight: 700;
    font-size: 36px;
    font-style: italic;
    color: #353C57;
    border-bottom: 3px solid #FFFFFF;
    padding-bottom: 1rem;
    margin: 1rem 0 1rem;
}
.contacts_text p span {
		font-weight: 400;
    }
.contacts_text p:last-child {
		border-bottom: none;
    }
.section_footer{
	display: flex;
	justify-content: space-between;
   }
.section_footer p{
	font-size: 30px;
	color: #000000;
	font-weight: 400;
	margin: 1rem 0 1rem;

}
.section_footer p:first-child{
	border-bottom: 3px solid #202846;
	margin: 0.5rem 0 -0.5rem;
}
iframe{
	width: 100%;
    height: 100%;
    border:3px solid #243B93; 
    border-radius: 40px;

}
.h1_h2{
	background: linear-gradient(200deg, #ffe601, #55D6FF);
}
footer{
 	height: 65px;
}
footer p{
	background: #243B93;
    padding: 25px 0 25px 15%;
    color: #FFFFFF;
}

.arrow{
	position: fixed;
    top: 70%;
    left: 82%;
	background: rgba(48, 12, 106, 0.3);
	border-radius: 50px;
	text-align: center;
	width: 5em;
    height: 5em;
}
.arrow img{
	    padding-top: 15px;
    }


