body {
	max-width: 1000 px;
	font-family: 'Inika', sans-serif;
	font-weight: 700 px;
	margin: 0;
}
.header{
	font-family: 'M PLUS 1', sans-serif;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	text-align: center;
	font-size: 48px;

}
.header-blue{
	color: #3E45E8;
}
.header-yellow{
	color: #E8C23E;
}

.background{
	background-image: url("./img/фонове зображення.png");
	width: 100%;
	
}
.first-block{

	text-align: center;
	padding: 190px 329px 140px 100px;
}
.first-block div {
	display: inline-block;
}
.text-first-block{
	line-height: 85px;
	font-size: 48px;
    color: #ffffff;
    text-align: left;
}
.second-block{
	margin-bottom: 10px;
	margin-top: 48px;
}
.second-block h2 {
	margin-left: 80px;
	margin-bottom: 5px;
}

.cards{
	border: 5px solid #0D095F;
	border-radius: 35px;
    height: 480px;
    width: 390px;
    display: inline-block;
    margin: 48px;
    box-shadow: 2px 2px 50px #578cd39c;

}

.cards h3{
	color: #0072DB;
	padding: 10px;
	font-size: 24px;

	}
.cards p{
	color: #FF9900;
	padding: 8px;
	font-size: 20px;
}
.last-block{
	text-align: center;
	
}
.last-block h2{
	text-transform: uppercase;
	text-align: center;
	font-size: 40px;
}
.last-block-img{
	margin-top: -40px;
	margin-bottom: 30px;

}
.button{
	text-align: center;
	border: 1px solid #2A61F0;
	border-radius: 50px;
	background: #2A61F0;
	width: 499px;
	margin: auto;
	height: 81px;
}
.button p{
	text-transform: uppercase;
	display: contents;
	
}
.button p a {
	color: #FFFFFF;
    text-decoration: none;
    font-size: 60px;
}
footer{
	background-image: url("./img/Rectangle 7.png");
	margin: 30px 0 80px 0;
	width: 100%;

}
.footer-block{
	text-align: center;
	font-family: 'Marcellus SC';
	font-size: 36px;
	margin: 5px 0 5px 0;
}

.footer-block a {
	color: #A89D9D;
	text-decoration: none;

}
.icons{
	text-align: center;
}
.icons svg {
	margin: 0 20px 30px;
}