body {
	margin: 0;
	background: #212529;
	font-family: 'Inter', sans-serif;
}
a{
	text-decoration: none;
}
nav {
	display: flex;
	justify-content: space-between;
	margin: 20px 40px;
	font-size: 18px;
	font-weight: 600;
}
.menu{
	 width: 40%;

}

ul {
	display: flex;
	color: #FFFFFF;
    list-style: none;
    justify-content: space-around;
    text-transform: capitalize;
   
}
ul li:hover{
	color: #FFB742;

}
button {
	border: 2px solid #FFB742;
	background: #FFB742;
	align-items: center;
	padding: 12px 26px;
	border-radius: 50px;
	font-family: 'Poppins', sans-serif;
	font-size: 18px;
	font-weight: 700;
}

.block_1 {
	width: 70%;
    margin: 0 auto;
    text-align: center;
    margin-top: 180px;
}
.block_1 p{
	color: #FFFFFF;
	text-transform: capitalize;

}

.block_1 p span{
	color: #FFB742;

}
.block_1 p:first-child{
	font-weight: 700;
	font-size: 32px;

}

.block_1 p:nth-child(2){
	font-weight: 700;
	font-size: 48px;

}
.block_1 p:nth-child(3){
	font-weight: 400;
	font-size: 24px;
}
.block_2{
	width: 80%;
	margin: 0 auto;
	display: flex;
    margin: 10% auto;
    align-items: baseline;
    justify-content: space-around;

}
.cards{
	width: 28%;
	display: flex;
	justify-content: space-between;
	background: rgba(56, 62, 69, 0.44);
	border-radius: 10px;
	color: #FFFFFF;
	padding: 1rem 1.5rem;
	font-size: 16px;
	text-align: center;
	align-items: center;
	font-weight: 700;
	line-height: 30.88px;
	cursor: pointer;

}

.cards p span{
	color: #FFB742;
	font-size: 32px;
}
.cards img:first-child{
	background-color: #E9E9E9;
	border-radius: 50px;
    padding: 12px;
    width: 10%;
    height: 10%;
}
.cards:hover{
	background: linear-gradient(94.3deg, #FFB742 0%, rgba(255, 123, 66, 0.76) 99.33%);
	color: #212529;
}
.cards:hover span{
	
	color: #212529;
}
.block_3{
	margin: 1% auto;
	width: 100%;
	display: flex;
	justify-content: space-around;

}
.block_3_text{
	width: 50%;
}
.block_3_text p:first-child{
	text-transform: uppercase;
	text-align: center;
    padding: 6px 25px;
    width: 20%;
	color: #FFB742;
	background: rgba(255, 255, 255, 0.08);
	border-radius: 50px;
	font-size: 20px;
	font-weight: 600;
}
.block_3_text p:nth-child(2){
	font-size: 48px;
	font-weight: 700;
	color: #FFFFFF;
}
.block_3_text p:nth-child(3){
	color: #D4D4D4;
	font-size: 16px;
	font-weight: 400;
	line-height: 30px;

}
.block_3_text button {
	    margin-top: 5%;

}
.block_4{
	margin: 1% auto;
	width: 100%;
	display: flex;
	justify-content: space-around;
}
.block_4 img{
	background: #383E45;
	border-radius: 10px;
}
.block_4_icon{
	width: 25%;
}

.block_4_icon img{
	padding: 2%;
	margin: 1% 1%;
	height: 48px;
    width: 48px;
}
.block_4_icon img:hover{
	background: linear-gradient(0deg, rgba(255, 183, 66, 0.5), rgba(255, 183, 66, 0.5));
}

.block_5,.block_7, .block_8{
	width: 50%;
    margin: 2% auto;
}

.block_5 div, .block_7 div {
	    margin: 1% auto;
	    text-align: center;
}
.block_5 div:first-child, .block_7 div:first-child{
	text-transform: uppercase;
	padding: 6px 25px;
    width: 20%;
	color: #FFB742;
	background: rgba(255, 255, 255, 0.08);
	border-radius: 50px;
	font-size: 20px;
	font-weight: 600;
}

.block_5 div:nth-child(2), .block_7 div:nth-child(2) {
	font-size: 48px;
	font-weight: 700;
	color: #FFFFFF;
}
.block_5_works ul li:hover{
	border-radius: 3px;
	padding: 1% 2%;
	background: #FFB742;
	color: #212529;
	transition: 0.3s;

}

.block_6{
	margin: 1% auto;
	width: 60%;
	display: flex;
	justify-content: space-around;

}
.block_6 div{
	margin: 0 2%;
}


.block_6 div img{
	padding: 5%;
	width: 100%;

}
.block_7{
	margin: 6% auto;
    text-align: center;
}
.block_8{
	width: 60%;
	display: flex;
	justify-content: space-between;

}
.block_8_cards{
	background: #FFFFFF;
	border-radius: 7.93px;
	width: 25%;
	padding: 4% 4% 4% 2%;
	
}
.block_8_cards_foto{
	display: flex;
	margin-top: 15%;
	weight:73px;
	height: 73px;

}

.block_8_cards_foto img{
	    margin-right: 10%;
	    
}
.block_8_cards_foto div p:first-child{
	margin: 10% auto;
	font-weight: 700;
	color: #000000;
}
footer{
	color: #D4D4D4;
	display: flex;
	justify-content: space-around;
	background: #1C1C1C;
	margin: 10% auto 0;
    padding: 5% 0;

}
.footer_block_1{
	color: #FFB742;
	font-weight: 700;
	font-size: 32px;

}


.footer_block_1 p:nth-child(2){
	font-size: 16px;
	color: #D4D4D4;
}
.footer_block p:first-child {
	color: #F5FBF2;
	font-weight: 500;
}
.footer_block p{
	color:#7B7B7B;
}
