@media screen and (max-width:992px){
	body{
		position: relative;

	}
	header{
	width: 100%;
	position: initial;
}
	.navigation{
		display: flex;
		background: #000000;
		width: 100%;
		justify-content: flex-end;
		font-style: italic;
		font-size: 1.8rem;
		    
	}
	.first-block{
	    width: 100%;
	    margin: 5%  auto;	
	    display:block;
	    position: relative;
 
    }

	.sec-img{
		width: 45%;
		position: absolute;
		transform: translate(120%, -215%);
		animation: animation_two 1s linear 1;
	}

	.firs-img{
		width: 45%;
		transform: translate(5%, -5%);
		animation: animation_one 1s linear 1;
	}

	.first-block-one{
		width: 100%;
	}

	.first-block-center{
		width: 45%;
	}

	.second-block{
		display: block;
		position: relative;
		margin: 5% auto;
	}
	.second-block-div{
		 width: 100%;
		 position: absolute;
		 transform: translate(10px, 110%);

	}
	.second-block-img{
		width: 100%;
		position: absolute;
	}
	.third-block{
		margin: 240% auto 170%;
	
	}
	.third-block-experts{
		display: block;
	}
	.employer{
		width: 43%;
	    float: left;
	   	margin-left: 5%;
	    margin-bottom: 2%;
	}
	.footer-block-form{
		display: block;

	}
	.footer-block-form > div{
		width: 100%;
	    height: 570px;

	}

	iframe{
		width: 100%;
		margin: 2% auto;
	}
	.contacts p{
		font-size: 95%;
	}
/*	.navigation ul li{
		font-size: 45%;
	}*/

}


@media screen and (max-width:768px){

	body{
		margin: 0;
	}
	header{
		position: static;
	}
/*	.navigation ul{
		display: inline-block;
	}*/
	
	.first-block{
		margin: 10% auto 30%;
	}
	.first-block-one{
		display: block;
	}
	.firs-img{
		padding-top: 10%;
		transform: translate(0, -5%);
	}

	.sec-img{
		width: 45%;
		transform: none;
		animation: animation_two 1s linear 1;
	}
	.firs-img, .sec-img, .first-block-one {
		width: 94%;
	}
	.first-block-center.foto_sec, .first-block-center.foto{
		width: 100%;
	}
	.first-block-center.foto, .first-block-center.foto_sec{
		margin-bottom: 10%;
	}
	.first-block-center.foto img:nth-child(2), .first-block-center.foto_sec img:nth-child(2){
			animation:animation_fo 2s linear 1;
		}
		@keyframes animation_fo{
			from{
				transform: translateX(-200vw);
			}

			to{
			 transform: translateX(0);
			}
		}

	
	.first-block-center.foto img:first-child, .first-block-center.foto_sec img:first-child{
			animation:animation_third 2s linear 1;
		}

		@keyframes animation_third{
			from{
				transform: translateX(300vw);
			}

			to{
			transform: translateX(0);
			}

		}
	
	.second-block-img{
		display: none;
	}
	.third-block{
		width: 100%;
    	margin: 300% auto 10%;
	}
	.employer{
		float: none;
		width: 94%;
		margin-left: 0;
	}
	.footer-block-form{
		position: relative;
	}
	.footer-block-form > div{
		position: relative;
	}

	.form{
		position: absolute;
    	transform: translateY(170%);

	}
	iframe {
		position: absolute;
	    transform: translateY(-105%);
	    margin-top: 30%;
	}
	.contacts{
		margin: 100% auto 5%;
	}
	.first-block, .second-block, .third-block, .footer-block{
		margin-left: 3%;
		margin-right: 3%;
	}
	.contacts p{
		font-size: 95%;
	}
	/*.navigation ul li{
		font-size: 45%;
	}*/

}