body{
	width: 100%;
	font-family: 'Rosario', sans-serif;
	font-weight: 700;
	font-style: normal;
	margin: 0;
	
}
header{
	width: 100%;
	position: sticky;
    top: 0;
    z-index: 1;
    display: flex;
}

.logo{
    background: #FFFBFB;
    text-decoration: none;
   }


.navigation{
	display: flex;
	background: #000000;
	width: 100%;
	justify-content: flex-end;
	font-style: italic;
	font-size: 36px;
	    
}
.collapse.navbar-collapse{
	justify-content: flex-end;

}
li a{
	text-decoration: none;
	color: #FFFCFC;
	}
li a:hover{
	color: #bcbcbc;
}
.navbar-toggler-icon{
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
}

/*ul{
	width: 70%;
    display: flex;
    list-style: none;
    align-items: center;
    padding: 0 20px 0;
    justify-content: space-evenly;
   
}
li a{
	text-decoration: none;
	color: #FFFCFC;
	display: block;
    margin: 15px;
    
}*/

.contacts-third-icons a{
	text-decoration: none;
	color: #000000;

}
.first-block{
	display: flex;
	align-items: center;
	margin: 6% auto;	
    justify-content: space-around;
    width: 100%;
}

.firs-img, .sec-img{
	text-align: center;
	width: 20%;
}
.firs-img img, .sec-img img{
	width: 100%;
}
.first-block-one{
	display: flex;
	width: 50%;
	justify-content: space-around;
}
.first-block-center.foto{
	width: 45%;
}
.first-block-center.foto img{
	width: 100%;

}
.first-block-center.foto_sec{
	width: 45%;
}
.first-block-center.foto_sec img{
	width: 100%;
}
.first-block-center img:first-child{
	padding-bottom: 10%;

}

.second-block{
	display: flex;
	justify-content: space-between;
	 align-items: center;
	
}
.second-block-div{
	 width: 50%;
}
.second-block-services{
	display: flex;
	width: 100%;
	justify-content: space-evenly;
}
.second-block-services p{
	font-size: 48px;
	text-align: center;
	font-style: italic;
}
.one img, .two img, .three img, .four img{
	width: 85%;

}
.second-block-img{
	width: 50%;
}

.second-block-img img{
	width: 100%;

}
.third-block-experts{
	display: flex;
	justify-content: space-around;
	width: 100%;

}

h2{
	font-size:96px;
	font-style: normal;
	text-align: center;
}
h3{
	font-size:64px;
	font-style: italic;
	text-align: center;
	margin-top: 0;
	margin-bottom: 2%;
}

.footer-block{
	margin: 6% auto;

}

.footer-block-form{
	display: flex;
	justify-content: space-evenly;
}
.footer-block-form > div{
	width: 50%;
    height: 570px;

}

iframe{
	width: 40%;
}
.form{
	background: #E5E5E5;
	width: 100%;
    height: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.form-input {
	width: 100%;
	display: flex;
	justify-content: space-between;
	height: 30%;

}
.form-size{
	width: 90%;
	height: 80%;
}

.form-input form{
	width: 45%;
	height: 100%;
	
}
input{
	width: 100%;
	height: 80%;
	border: none;


}
textarea {
	width: 100%;
	height: 100%;
	border: none;
	font-size: 36px;
}
.form-size > form{
	height: 70%;
}
::placeholder {
	color: #00000080;
	opacity: 1;
	font-size: 36px;
	font-weight: 700;
	line-height: 43.63px;

}


.contacts{
	display: flex;
	justify-content: space-evenly;
	margin: 6% auto;
}
.contacts p{
	font-size:30px;
	margin: 1px 0;
	text-align: center;
	font-style: italic;
	font-weight: 600;

}

span{
	font-style: normal;
	font-weight: 700;
}
.contacts-second p:first-child{
	margin-bottom: 5%;
}
.contacts-third img{
	padding-right: 1%;
	
}
.contacts-third p img:first-child{
	padding-right: 2%;
	
}
.contacts-third-icons{
	display: flex;
	justify-content: center;

}
.contacts-third-icons div{
	width: 80%;
}
.contacts-third-icons p{
	text-align: left;
}

.first-block-center.foto{
	animation:animation_one 1s linear 1;
	}
@keyframes animation_one{
	from{
		transform: translateX(-100vw);
	}
	to{
		transform: translateX(0);
	}
}

.first-block-center.foto_sec{
	animation:animation_two 1s linear 1;
	}
@keyframes animation_two{
	from{
		transform: translateX(100vw);
	}
	to{
		transform: translateX(0);
	}
}
.firs-img{
	animation:animation_third 2s linear 1;
}

@keyframes animation_third{
	from{
		transform: translateX(-100vw);
	}

	50%{
		transform: translateX(-100vw);
	}
	100%{
		transform: translateX(0);
	}
		to{
		transform: translateX(0);
	}

}
.sec-img{
	animation:animation_fo 2s linear 1;
}
@keyframes animation_fo{
	from{
		transform: translateX(100vw);
	}

	50%{
		transform: translateX(100vw);
	}
	100%{
		transform: translateX(0);
	}
		to{
		transform: translateX(0);
	}

}
.one{
	animation:animation_ser 10s linear 1;
	width: 45%;
	text-align: center;
}
@keyframes animation_ser{
	from{
		transform: translate(0,0);
	}
	25%{
		transform: translate(110%,0);
	}
	50% {
		transform: translate(110%,100%);
	}
	75% {
		transform: translate(0,100%);
	}
	
	to{
		transform: translate(0,0);
	}
}
.two{
	animation:animation_tw 10s linear 1;
	width: 45%;
	text-align: center;
}
@keyframes animation_tw{
	from{
		transform: translate(0,0);
	}
	25%{
		transform: translate(0,100%);
	}
	50% {
		transform: translate(-110%,100%);
	}
	75% {
		transform: translate(-110%,0);
	}
	
	to{
		transform: translate(0,0);
	}
}
.three{
	animation:animation_three 10s linear 1;
	width: 45%;
	text-align: center;

}
@keyframes animation_three{
	from{
		transform: translate(0,0);
	}

	25% {
		transform: translate(0,-100%);
	}
	50% {
		transform: translate(110%,-100%);
	}
	75%{
		transform: translate(110%,0);
	}
	to{
		transform: translate(0,0);
	}
}

.four{
	animation:animation_four 10s linear 1;
	width: 45%;
	text-align: center;
}
@keyframes animation_four{
	from{
		transform: translate(0,0);
	}

	25% {
		transform: translate(-110%,0);
	}
	50% {
		transform: translate(-110%,-100%);
	}
	75%{
		transform: translate(0,-100%);
	}
	to{
		transform: translate(0,0);
	}
}
.third-block-experts div{
 	position: relative;
 	line-height: 0;
 	overflow: hidden;
 	border-bottom-right-radius: 40px;
    border-bottom-left-radius: 40px;
}

.third-block-experts p{
	font-family: 'Volkhov', serif;
	font-weight: 400;
	color:#FFFAFA;
	font-size: 48px;
	text-align: center;
	background: #A3530AB2;
	position: absolute;
	height: 20%;
    width: 100%;
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    margin-bottom: 0px;
    margin-top: 0px;
    line-height: 0;
    opacity: 0;
    bottom: -90px;
    transition: 0.3s;

}

.third-block-experts div:hover p {
	opacity: 1;
	bottom: 0;

}
.employer img{
	width: 100%;
}
.employer{
	width: 20%;
}

