@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;700&display=swap');
body{
	background: linear-gradient(112.23deg, #3E718E 0%, #64969B 100%);
	font-family: 'Space Grotesk', sans-serif;
}
a {
	text-decoration: none;
    color: #FFFFFF;
}
h1 {
	margin: 1% 4%;
}
h2 {
	text-align: center;
}
section {
	margin: 5% auto 8%;
	width: 80%;
	display: flex;
	justify-content: center;
}
.header {
	background: #FFFFFF;
	width: 50%;
	/*box-shadow: 4px 0px 14px 0px white;*/
	margin-right: 0.5%;
	filter: drop-shadow(10px 0px 5px white);


}
.form {
	width: 70%;
    margin: auto;

}

label {
	display: block;
	margin-bottom: 1%;
}
input {
	width: 100%;
	margin-bottom: 2%;
	border: 1px solid #CCCCCC;
}
::placeholder{
	color: #CCCCCC;
	font-size: 12px;
	padding-left: 1%;
}
.password p {
	color: #A8A8A8;
	font-size: 10px;
	margin: -1% 0;
}
.list {
	margin-top: 3%;
}
.list label span {
	color: #A8A8A8;
	font-size: 12px;
}

.register {
	margin-top: 15%;
    width: 100%;
}
.register p {
	color: #C4C4C4;
	text-align: center;

}
.register p a {
	color: #476D73;
	font-size: 16px;
	font-weight: 600;
	text-decoration: underline;
}
button {
	width: 100%;
	border: 1px solid #284A5E;
	color: #FFFFFF;
	background: linear-gradient(0deg, #27485D, #27485D);
	padding: 1%;
	border-radius: 4px;
}

button:hover {
	background: linear-gradient(0deg, #284A5E, #284A5E);
	box-shadow: 0px 2px 2px 2px #CCCCCC1A;
}

.text {
	width: 40%;
	background: linear-gradient(160.42deg, #517879 0%, #214159 100%);
	font-weight: 700;
	color: #FFFFFF;
	font-size: 48px;
	}
.text ul {
	list-style: none;
	display: flex;
	justify-content: end;
	margin: 2% auto;
}
.text ul li{
	padding-right: 4%;
	font-size: 16px;
}
.text span{
	font-size: 16px;
}
.text div {
	text-align: justify;
	margin: 20% 15%;
	line-height: 60px;
	overflow: auto;
}
